*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# Upload / Media folders
/public/business_docs/
/public/images/
/public/uploads/
/public/vehicle_documents/

# Lock files (optional – usually keep composer.lock in Laravel)
composer.lock
package-lock.json
